{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Rashid Ganeev</title>
</head>
<body bgcolor="#f9f4eb">
<table width="100%" cols="3" align="center">
    <tr>
        <td width="10%">
            <a href="https://vk.com/rash2001">
                <img src="{% static 'assets/vkontakte_PNG19.png' %}" width="100%" align="center" alt="Link to vk">
            </a>
            <a href="https://github.com/Gitem2001">
                <img src="{% static 'assets/git.png' %}" width="100%" align="center" alt="Link to Github">
            </a>
        </td> <!--body-->
        <td width="70%">
            <p align="center">
                <big>
                    Rashid Ganeev
                </big>
            </p>
            <p align="center">
                <big>
                    Sophomore of FEFU
                </big>
            </p>
            <p align="center">
                <big>
                    +7-924-124-21-23
                </big>
            </p>
        </td>
    </tr>
</table>
</body>
</html>